@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
*{
    font-family: "Lexend Deca";
}
.Header .Headerimg{
    height: auto;
    background-size: cover;
}
.navbar{
    width: 1600px;
}
.navbar .logo{
    color: yellow;
}

.navbar .logo .highlight1 {
    color: red;
}

.navbar .logo .highlight2 {
    color: green;
}
.navbar .nav-links{
    float: right;
    font-size: medium;
    list-style: none;
    display: flex;
    margin: 0;
}
.navbar .nav-links a{
    display: block;
    color: gray;
    padding-left: 20px;
    padding-right: 20px;
}
.navbar .hamburger{
    display: none;
}
.nav-links a:hover {
    background: rgb(236, 217, 107); 
    color: white;
}
.Header .Headertext p{
    color:green;
}
.Header .Headertext .Home{
    width: 20px;
    height: 20px;
}
.Header .Headertext h1{
    color: white;
}
.Header .Headertext{
    position: absolute;
    top: 400px;
    width: 1600px; 
    height: 1000px;
    font-size: large;
    text-align: center;
}
.Header .Menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:medium;
    top:-420px;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
    border-radius: 10px;
    gap: 30px;
    text-align: center;    
}
.Header .Menu input{
    border: 10px;
    align-items: center;
    justify-content: center;
}
.Header .Menu select{
    border:10px;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.input{
    border: 2px;
    border-style: solid;
    border-color: gray;
    border-radius: 5px;
    padding: 5px;
    display: flex;
}
.select{
    border: 2px;
    border-style: solid;
    border-color: gray;
    border-radius: 5px;
    padding: 5px;
    display: flex;
}
.select .price{
    color: gray;
}
.Header .Menu button {
    margin-left: 20px;
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 10px; 
    padding: 10px 20px;
    cursor: pointer;
}
.Bottomcontent{
    display: inline-flex;
    gap: 50px;
}
.green{
    color: green;
}
.Bottomimgs {
    align-items: center;
    display: flex-end;
    gap: 2rem;
    margin-top: 2rem;
    margin-left: auto;
    padding: 20px;
}
.circle-image1 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    padding: 20px;
}
.circle-image2 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    padding: 20px;
}
.Bottomtext{
    color: gray;
}
.color1{
    color: gray;
}
.color2{
    color: black;
}
@media(max-width:1180px){
    .navbar .hamburger img{
        width: 20px;
        height: 20px;
        display: flex-end;
    }    
    .Bottomcontent{
        flex-direction: column;
    }
    .circle-image1 {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        padding: 20px;
    }
    .circle-image2 {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        object-fit: cover;
        padding: 20px;
    }
    .Menu{
        justify-content: center;
    }
}
@media (max-width: 768px) {
    .Headerimg{
        width: 100%;
    }
    .Headertext h1 {
        font-size: 2rem;
    }

    .Headertext p {
        font-size: 1rem;
    }

    .Menu {
        flex-direction: column;
        max-width: 400px;
        font-size: small;
        justify-content: center;
    }

    .Bottomtext {
        padding: 1rem;
    }

    .Bottomimgs {
        flex-direction: column;
        align-items: center;
    }
    .circle-image1 {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        padding: 20px;
    }
    .circle-image2 {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        object-fit: cover;
        padding: 20px;
    }
    .navbar .hamburger img{
        width: 20px;
        height: 20px;
    }    
}

@media (max-width: 480px) {
    .navbar .hamburger img{
        width: 20px;
        height: 20px;
    }   
    .navbar .nav-links{
        display: none;
    } 
    .Headertext {
        padding: 1rem;
    }

    .Headertext h1 {
        font-size: 1.5rem;
    }

    .Headertext p {
        font-size: 0.875rem;
    }

    .Menu {
        margin-left: auto;
        margin-right: auto;
        padding: 1rem;
        max-width: 300px;
        size: 1rem;
        justify-content: center;
        align-items: center;
    }
    .Bottomcontent{
        display: block;
        gap: 0px;
    }
    .circle-image1 {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        padding: 20px;
    }
    .circle-image2 {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        padding: 20px;
    }
}
